<mat-card-title>Your Profile Details</mat-card-title>
<br>
<mat-card *ngIf="user">

  <!-- {{ user | json }} -->
  <mat-card-content>
    <div class="bootstrap-wrapper">
      <div class="container">
        <div class="container text-center">
          <img  class="im profile-image"
          [src]="user.profile"
            alt=""
          />



          <h1 class="mt20">{{ user.firstName }} {{ user.lastName }}</h1>
        </div>

        <!-- <div class="row"> -->
          <div class="col-md-6 offset-md-1">
            <!-- //table Details  -->
            <!-- <table class="table text-center">
              <tr>
                <td>Username</td>
                <td>{{ user.username }}</td>
              </tr>
              <tr>
                <td>Phone</td>
                <td>{{ user.phoneNo }}</td>
              </tr>
              <tr>
                <td>Role</td>
                <td>{{ user.authorities[0].authority }}</td>
              </tr>
              <tr>
                <td>Status</td>
                <td>{{ user.enabled ? "ACTIVE" : "NOTACTIVE" }}</td>
              </tr>
            </table> -->
            <div class='d-flex flex-column justify-content-center  mt-4'>
              <div class='my-3 fwc-bold'>
                Username : {{ user.username }}
              </div>
              <div class='my-3 fwc-bold'>
                Phone : {{ user.phoneNo }}
              </div>
              <div class='my-3 fwc-bold'>
                Role : {{ user.authorities[0].authority }}
              </div>
              <div class='my-3 fwc-bold'>
                Status : {{ user.enabled ? "ACTIVE" : "NOTACTIVE" }}
              </div>
            </div>
          </div>
        <!-- </div> -->
      </div>
    </div>
  </mat-card-content>
  <!-- <mat-card-actions class="text-center"> -->
    <!-- <button mat-raised-button color="primary">UPDATE</button> -->
    <!-- <button mat-raised-button color="accent">SHARE</button> -->
  <!-- </mat-card-actions> -->
</mat-card>
