<p>Sir, till date you have following stats on your account!</p>
<div>Total no of exams:{{examinations}}</div>
<div>Total no of categories:{{categories}}</div>
<div>Total no of quizzes:{{quizs}}</div>

<div>
  <mat-card *ngFor="let q of creatersQuizzes; let i = index" class="mt20">
    <mat-card-content>
      <p>
        <b> No {{ i + 1 }})</b>
        <span class="ml20" [innerHTML]="q.quizTitle"></span>
      </p>

      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <p>No of attempts: {{ q.noOfAttempts }}</p>
          </div>
        </div>
      </div>
    </mat-card-content>

  </mat-card>
</div>
<h1>most popular quiz :{{mostfavquiztitle}}</h1>
<h1>least popular quiz :{{leastfavquiztitle}}</h1>
