<!-- <app-navbar></app-navbar>
<router-outlet></router-outlet> -->

<ngx-ui-loader
  fgsColor="#d6df1d"
  pbColor="#d6df1d"
  text="Loading.."
  textColor="#d6df1d"
  fgsType="cube-grid"
>
</ngx-ui-loader>


  <!-- <app-navbar></app-navbar> -->
  <!-- <app-admin-dashboard></app-admin-dashboard>
<app-login></app-login>
<app-profile></app-profile>
<app-signup></app-signup>
<app-home></app-home>
<app-signup-moderator></app-signup-moderator>
<app-start></app-start>
<app-apeearquiz></app-apeearquiz>
<app-user-dashboard></app-user-dashboard>
<app-add-exam></app-add-exam>
<app-addcategories></app-addcategories>
<app-addquestions></app-addquestions>
<app-addquizs></app-addquizs>
<app-moderator-dashboard></app-moderator-dashboard>
<app-view-exam></app-view-exam>
<app-viewcategories></app-viewcategories>
<app-viewquestions></app-viewquestions>
<app-viewquizs></app-viewquizs> -->
  <!-- <router-outlet></router-outlet> -->

  <!-- <div class="dots-bg"></div> -->

  <div class="ngxUiLoaderBlurred blur"  >
    <app-navbar></app-navbar>
    <router-outlet></router-outlet>
    <div class="dots-bg"></div>
  </div>
